@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3b475eee;
  --foreground: #e8b7ff63;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  justify-items: center;
  min-height: 100vh;

  .app-header {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: relative;
    padding: 20px 0px;
    font-weight: 600;
    color: #be4146;
    background-image: linear-gradient(45deg, #be4146 100%, #d26764 21%, #f2acac 21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #6742ce;
      box-shadow: 10px 30px 30px rgb(39 126 237);
    }
  }
  .app-footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
    position: relative;
    padding: 15px 0px;
    font-weight: 600;
    color: #7f7a80;
    background-color: #252933;
  }
  .app-container {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
}
